<ion-view view-title="">
    <ion-content>
        <!--
        <div class="item item-divider">
           <div id="text"><i class="ion-wrench" ></i>
                           <h2>Paramétrer vos informations</h2></div>
            <button id="gear" class="button icon ion-gear-a" ui-sref="donneurDescForm"></button>
        </div>
-->
        <!--<i class = "icon icon ion-android-restaurant"></i>
	    <i class = "icon icon ion-location"></i>
	    <i class = "icon icon ion-coffee"></i>
	    <i class = "icon icon ion-ios-cart"></i>
	    <i class = "icon icon ion-android-cart"></i>-->
        <!--
        <div class="item item-divider">
            Particuliers
        </div>
        <a class="item item-avatar" href="#">
            <img src="img/person-flat.png">
            <h2>Particulier 1</h2>
            <p>Récolteur de produits périmés.</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="img/person-girl-flat.png">
            <h2>Particulier 2</h2>
            <p>Récolteur de Compost</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="img/female1-512.png">
            <h2>Particulier 3</h2>
            <p>Récolteur</p>
        </a>
        <div class="item item-divider">
            Associations
        </div>
        <a class="item item-thumbnail-left" href="#">
            <img src="img/Croquis.PNG">
            <h2>Save My Bouffe</h2>
            <p>Récolte des aliments</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
            <img src="img/associations.jpg">
            <h2>Association 2</h2>
            <p>Récolte de Compost</p>
        </a>
-->

        <div class="list">

            <div class="item item-divider">
                <label class="item item-icon-left">
                <i class="icon ion-wand"></i>Faites votre choix !</label>
            </div>
            <a class="item item-icon-left" ui-sref="donneurDescForm">
                <i class="icon ion-wrench"></i> Mes informations
            </a>

            <a class="item item-icon-left" ui-sref="listCollecteurs">
                <i class="icon ion-trash-a"></i> Liste des Collecteurs
            </a>

            <!--
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
  </a>
-->

            <a class="item item-icon-left" href="#">
                <i class="icon ion-android-pin"></i> Les collecteurs près de vous
                <span class="badge badge-assertive">5</span>
            </a>

        </div>
        <ion-content>
</ion-view>
