<ion-view view-title="Vue du restaurant">
 <ion-content>
 <div class="list card">

  <div class="item item-avatar">
    <img src="img/devanture.png">
    <h2>Restaurant Le Mûre</h2>
    <p>24 rue de la libération, 75020 Paris</p>
  </div>
<!--  
    <div class="item item-image">
        <img src="img/devanture.png">
    </div>-->
   <div class="item item-body">
    <h2>Horaires : </h2>
    <p>Lundi au samedi
    9h-23h
    </p>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eum officia fugit corporis odit adipisci ab officiis. Illum iusto, sunt possimus, optio accusantium, ratione aliquam nulla perspiciatis rerum, cum quos.</p>
     <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. At id excepturi iure, minus eius nisi nam sit quidem fugiat, accusantium et neque voluptatibus ea, sint magni explicabo itaque tempora repudiandae.
    </p>
     </div>
      <a class="item item-icon-left balanced" href="tel:+33661723438">
        <i class="icon icon ion-android-call"></i>
        Appeler
    </a>
    <a class="item item-icon-left assertive" ui-sref="mail">
        <i class="icon icon ion-android-mail"></i>
        Mail
    </a>
     <a class="item item-icon-left assertive" ui-sref="map">
        <i class="icon icon ion-location"></i>
        Localiser
     </a>
     
    <!-- <a class="item item-icon-left assertive" href="https://www.facebook.com/groups/gardelapecheglp/" target="_blank">-->
        <a class="item item-icon-left positive" ng-click="GotoLink('https://www.facebook.com')">
        <i class="icon icon positive"><img src="img/facebookButton.png" style="width : 9%;"></i>
        Facebook
     </a>
   
</div>
    </ion-content>
</ion-view>